.hero {
    background: url('../../image_assets/creative-block-logo-white-neworange.svg');
    background-position: center; 
    text-align: center;
    background-repeat: no-repeat; 
    height: 250px;
    margin-top: 50px;
    margin-bottom: 75px;
}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;    
    padding-top: 250px;
}



@media only screen and (max-width: 450px) {
    .hero {
        height: 75px;
    }
    h1 {
        font-size: x-large;
        padding-top: 100px;
    }
}