.recent-blocks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: (22, 22, 22);
    padding-bottom: 25px;
}

.recent-blocks-container > div > p {
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.recent-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.recent-blocks > a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.category-link {
    color: white;
}

.block-filters {
    display: flex;
    justify-content: center;
}

.block-filters > button {
    cursor: pointer;
    height: 35px;
}

.art-button {
    background-color: rgb(255, 22, 255);
    color: white;
    border-radius: 10px;
}

.writing-button {
    background-color: rgb(255, 0, 64);
    color: white;
    border-radius: 10px;
}

.music-button {
    background-color: rgb(0, 68, 255);
    color: white;
    border-radius: 10px;;
}

.all-blocks-button {
    background-color: white;
    color: black;
    border-radius: 10px;
}

.sign-in-message {
    color: white;
}

@media only screen and (max-width: 450px) {
    

    .recent-blocks {
        width: 100%;
        overflow: hidden;
    }
}