.recent-blocks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(238, 186, 90);
    padding-bottom: 25px;
}

.container {
    display: flex;
    justify-content: center;
}

.recent-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

 p {
    color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.category-link {
    color: white;
}