.recent-blocks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(238, 186, 90);
    padding-bottom: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.recent-blocks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

 p {
    color: white;
}

.recent-blocks > a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.category-link {
    color: white;
}

.block-filters {
    display: flex;
    justify-content: center;
}

.block-filters > button {
    cursor: pointer;
}



.art-button {
    background-color: green;
    color: white;
}

.writing-button {
    background-color: red;
    color: white;
}

.music-button {
    background-color: blue;
    color: white;
}

.all-blocks-button {
    color: black;
}

@media only screen and (max-width: 450px) {
    .container {
        display: block;
    }

    .recent-blocks {
        width: 100%;
        max-height: 400px;
        overflow: hidden;
    }
}