.info-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
}

.info-logo-1 {
    margin-left: 50px;
    height: 250px;
    width: 250px;
    background-image: url('../../image_assets/creative-block-logo-black.svg');
    background-position: center; 
    background-repeat: no-repeat; 
}

.information {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: white;
    padding: 25px;
    text-align: center;
}

.right {
    width: auto;
    margin-left: 20vw;
}

.left {
    width: auto;
    margin-left: 0;
}

.about-landing > p {
    color: black;
}

.one {
    background-color: white;
}

.two {
    background-color: grey;
    padding-bottom: 150px;
}

@media only screen and (max-width: 450px) {

    .information {
        flex-direction: column;
        font-size: medium;
        padding: 15px;
    }

    .info-logo-1 {
        display: none;
    }
}