.register-page {
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: white;
}

.registration-form {
    display: flex;
    flex-direction: column;
    height: 80vh;;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

input {
    width: 400px;
    padding: 5px;
    margin: 20px;
}

@media only screen and (max-width: 450px) {
    input {
        width: 300px;
    }
}