.navigation-bar {
    display: flex;
    align-items: center;
    background-color: grey;
    height: 50px;
}

.logo {
    position: absolute;
    text-decoration: none;
    color: white;
    font-weight: bold;
    left: 0;
    margin-left: 20px;
    
}

.links {
    position: absolute;
    
}

.links > a {
    text-decoration: none;
    font-weight: bold;
    padding-left: 20px;
    color: white;
    padding-right: 20px;
}

.links > a:visited {
    color: white;
}

.hidden {
    display: none;
}

.mobile_nav {
    width: 100%;
    height: 50px;
}

.vertical {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}

.vertical > a {
    text-decoration: none;
    font-weight: bold;
    padding-left: 20px;
    color: white;
    padding-right: 20px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (min-width: 450px) {

    .links {
        right: 0;
    }
}