.blocks-page-container {
    text-align: center;
    height: 80vh;
}

.block-container {
    color: white;
    display: flex;
    flex-direction: column;
}

.block-container > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

h2 > a {
    text-decoration: none;
    color: white;
}

.no-feedback {
    color: white;
    text-align: center;
    padding-top: 100px;
}

.block-image {
    width: 100%;
    height: 500px;
    background-position: center; 
    text-align: center;
    background-repeat: no-repeat;
    margin: 0 auto 0 auto;
}

.writing-block {
    height: 500px;
}

.writing-block-text {
    width: 100%;
    padding: 20px 15px 20px 15px;
    background-color: white;
    color: black;
    text-align: start;
}


@media only screen and (min-width: 450px) {
    .writing-block-text {
        width: 90%;
        margin: auto;
    }
}