.block {
    width: 150px;
    height: 150px;
    background-color: white;
    text-align: center;
    margin: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.preview-content {
    padding-top: 20px;
}

.art {
    border: 3px green solid;
}

.writing {
    border: 3px red solid;
}

.music {
    border: 3px blue solid;
}

.deselected {
    background-color: grey;
}

@media only screen and (max-width: 450px) {
    .block {
        width: 75px;
        height: 75px;
    }
}