.block {
    width: 150px;
    height: 150px;
    background-color: white;
    text-align: center;
    margin: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.preview-content {
    padding-top: 20px;
}

.art {
    border: 3px green solid;
}

.writing {
    border: 3px red solid;
}

.music {
    border: 3px blue solid;
}

.deselected {
    background-color: grey;
}

@media only screen and (max-width: 380px) {
    .block {
        width: 100px;
        height: 100px;
        margin: 5px;
    }
}

@media only screen and (max-width: 450px) {
    .block {
        
        margin: 10px;
    }
    .content {
        font-size: x-small;
        width: 90%;
        padding: 2px;
    }
}