.block {
    width: 150px;
    height: 150px;
    background-color: white;
    text-align: center;
    margin: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.preview-content {
    padding-top: 20px;
}

.art {
    border: 5px rgb(255, 22, 255) solid;
}

.writing {
    border: 5px rgb(255, 166, 0) solid;
}

.music {
    border: 5px rgb(0, 68, 255) solid;
}

.deselected {
   display: none;
}

@media only screen and (max-width: 380px) {
    .block {
        width: 100px;
        height: 100px;
        margin: 5px;
    }
}

@media only screen and (max-width: 450px) {
    .block {
        
        margin: 10px;
    }
    .content {
        font-size: x-small;
        width: 90%;
        padding: 2px;
    }

    .block-filters {
        flex-wrap: wrap;
    }
}