.terms-container {
    background-color: white;
    padding: 0 20px 35px 20px;
    margin: 0 150px 0 150px;
}

@media only screen and (max-width: 450px) {
    .terms-container {
        width: 100%;
        margin: 0;
    }
}