.login-page {
    text-align: center;
    margin-top: 50px;
}

.login-form {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    color: white;
}

@media only screen and (max-width: 450px) {
    .login-form {
        width: 200px;
        margin-right: auto;
        margin-left: auto;
    }

    .login-form > input {
        width: 90%;
    }
}