.new-block-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    max-width: 800px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.new-block > a {
    text-decoration: none;
    color: white;
}

p {
    color: rgb(0, 0, 0);
}

.new-block-form {
    display: flex;
    width: 70%;
    flex-direction: column;
    background-color: white;
    margin-top: 50px;
    padding: 30px;
}

.new-block-form > label {
    color: black;
}

.success-message {
    padding-top: 100px;
    color: white;
}

.input-message {
    margin: 20px 0 20px 0;
}

textarea#mytext {
        width: 100%;
        padding: 12px 20px;
    }

@media only screen and (max-width: 450px) {
    .new-block-form {
        width: 100%;
    }

    .new-block-form > input {
        max-width: 90%;
    }

    
}