.about-page {
    text-align: center;
}

.about {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.about > p {
    color: white;
    padding: 20px 5px 20px 5px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 600px) {
    .about {
        width: 600px;;
    }
}